body {
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.card {
    background: #ffffff;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

body {
    background-color: #f8f9fa;
}

.btn {
    border-radius: 12px;
    font-size: 16px;
    padding: 10px;
}