body {
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.card {
    background: #ffffff;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

body {
    background-color: #f8f9fa;
}

.btn {
    border-radius: 12px;
    font-size: 16px;
    padding: 10px;
}

table th, table td {
    vertical-align: middle;
}

.badge {
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 8px;
}