{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 500px;">
    <h4 class="mb-3">🏆 Leaderboard</h4>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>الترتيب</th>
                <th>الاسم</th>
                <th>النقاط</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.total_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin') }}" class="btn btn-secondary w-100">
        رجوع
    </a>
</div>

{% endblock %}